:root {
  --md-source: #9a7f00;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary10: #231b00;
  --md-ref-palette-primary20: #3b2f00;
  --md-ref-palette-primary25: #483a00;
  --md-ref-palette-primary30: #554500;
  --md-ref-palette-primary35: #635100;
  --md-ref-palette-primary40: #715d00;
  --md-ref-palette-primary50: #8e7500;
  --md-ref-palette-primary60: #ab8e11;
  --md-ref-palette-primary70: #c8a930;
  --md-ref-palette-primary80: #e5c44a;
  --md-ref-palette-primary90: #ffe178;
  --md-ref-palette-primary95: #fff0c6;
  --md-ref-palette-primary98: #fff8ef;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary10: #221b04;
  --md-ref-palette-secondary20: #373016;
  --md-ref-palette-secondary25: #433b20;
  --md-ref-palette-secondary30: #4f462a;
  --md-ref-palette-secondary35: #5b5235;
  --md-ref-palette-secondary40: #675e40;
  --md-ref-palette-secondary50: #817657;
  --md-ref-palette-secondary60: #9b906e;
  --md-ref-palette-secondary70: #b7ab87;
  --md-ref-palette-secondary80: #d3c6a1;
  --md-ref-palette-secondary90: #f0e2bb;
  --md-ref-palette-secondary95: #fef0c9;
  --md-ref-palette-secondary98: #fff8ef;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary10: #01210d;
  --md-ref-palette-tertiary20: #173721;
  --md-ref-palette-tertiary25: #22422b;
  --md-ref-palette-tertiary30: #2d4e36;
  --md-ref-palette-tertiary35: #395a41;
  --md-ref-palette-tertiary40: #45664d;
  --md-ref-palette-tertiary50: #5d7f64;
  --md-ref-palette-tertiary60: #76997d;
  --md-ref-palette-tertiary70: #90b496;
  --md-ref-palette-tertiary80: #abd0b1;
  --md-ref-palette-tertiary90: #c6eccc;
  --md-ref-palette-tertiary95: #d4fad9;
  --md-ref-palette-tertiary98: #eaffea;
  --md-ref-palette-tertiary99: #f5fff3;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral10: #1d1b16;
  --md-ref-palette-neutral20: #33302a;
  --md-ref-palette-neutral25: #3e3b35;
  --md-ref-palette-neutral30: #494640;
  --md-ref-palette-neutral35: #55524b;
  --md-ref-palette-neutral40: #615e57;
  --md-ref-palette-neutral50: #7b776f;
  --md-ref-palette-neutral60: #959088;
  --md-ref-palette-neutral70: #b0aba2;
  --md-ref-palette-neutral80: #cbc6bd;
  --md-ref-palette-neutral90: #e8e2d9;
  --md-ref-palette-neutral95: #f6f0e7;
  --md-ref-palette-neutral98: #fff8ef;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant10: #1f1b10;
  --md-ref-palette-neutral-variant20: #343024;
  --md-ref-palette-neutral-variant25: #403b2e;
  --md-ref-palette-neutral-variant30: #4b4639;
  --md-ref-palette-neutral-variant35: #575244;
  --md-ref-palette-neutral-variant40: #635e50;
  --md-ref-palette-neutral-variant50: #7d7767;
  --md-ref-palette-neutral-variant60: #979080;
  --md-ref-palette-neutral-variant70: #b2ab9a;
  --md-ref-palette-neutral-variant80: #cec6b4;
  --md-ref-palette-neutral-variant90: #eae2cf;
  --md-ref-palette-neutral-variant95: #f9f0dd;
  --md-ref-palette-neutral-variant98: #fff8ef;
  --md-ref-palette-neutral-variant99: #fffbff;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #715d00;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #ffe178;
  --md-sys-color-on-primary-container-light: #231b00;
  --md-sys-color-secondary-light: #675e40;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #f0e2bb;
  --md-sys-color-on-secondary-container-light: #221b04;
  --md-sys-color-tertiary-light: #45664d;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #c6eccc;
  --md-sys-color-on-tertiary-container-light: #01210d;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fffbff;
  --md-sys-color-on-background-light: #1d1b16;
  --md-sys-color-surface-light: #fffbff;
  --md-sys-color-on-surface-light: #1d1b16;
  --md-sys-color-surface-variant-light: #eae2cf;
  --md-sys-color-on-surface-variant-light: #4b4639;
  --md-sys-color-outline-light: #7d7767;
  --md-sys-color-inverse-on-surface-light: #f6f0e7;
  --md-sys-color-inverse-surface-light: #33302a;
  --md-sys-color-inverse-primary-light: #e5c44a;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #715d00;
  --md-sys-color-outline-variant-light: #cec6b4;
  --md-sys-color-scrim-light: #000000;
  /* dark */
  --md-sys-color-primary-dark: #e5c44a;
  --md-sys-color-on-primary-dark: #3b2f00;
  --md-sys-color-primary-container-dark: #554500;
  --md-sys-color-on-primary-container-dark: #ffe178;
  --md-sys-color-secondary-dark: #d3c6a1;
  --md-sys-color-on-secondary-dark: #373016;
  --md-sys-color-secondary-container-dark: #4f462a;
  --md-sys-color-on-secondary-container-dark: #f0e2bb;
  --md-sys-color-tertiary-dark: #abd0b1;
  --md-sys-color-on-tertiary-dark: #173721;
  --md-sys-color-tertiary-container-dark: #2d4e36;
  --md-sys-color-on-tertiary-container-dark: #c6eccc;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #1d1b16;
  --md-sys-color-on-background-dark: #e8e2d9;
  --md-sys-color-surface-dark: #1d1b16;
  --md-sys-color-on-surface-dark: #e8e2d9;
  --md-sys-color-surface-variant-dark: #4b4639;
  --md-sys-color-on-surface-variant-dark: #cec6b4;
  --md-sys-color-outline-dark: #979080;
  --md-sys-color-inverse-on-surface-dark: #1d1b16;
  --md-sys-color-inverse-surface-dark: #e8e2d9;
  --md-sys-color-inverse-primary-dark: #715d00;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #e5c44a;
  --md-sys-color-outline-variant-dark: #4b4639;
  --md-sys-color-scrim-dark: #000000;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
}
